@{
    ViewData["Title"] = "Home Page";
}


<h1>@ViewData["Title"]</h1>


<div>
  <div>
    <div>
      <a>Como funciona</a>
      <a>Entrar</a>
      <div>
        <div></div>
        <div>
          <a>Seja um profissional</a>
        </div>
      </div>
    </div>
    <span>Conectando quem precisa com quem sabe fazer</span>
    <span>Fale o que precisa, e receba até 3 orçamentos, escolha o melhor.</span>
    <div>
      <a>Leigos</a>
      <span>Conectado em você!</span>
    </div>
    <div class=e302_66>
      <div class="e302_67"></div>
      <span class="e302_68">O que você precisa?</span>
      <div class="e302_69"></div>
      <span class="e302_70">BUSCAR</span>
      <div class="e302_71"></div>
    </div>
    <div class="e302_72"></div>
@*    <div class="container">
      <div class="e302_40"></div>
      <div class=e302_41><span class="e302_42">Todas as categorias de serviços</span>
      </div>
      <span>Assitência técnica</span>
      <span>Aulas</span>
      <span>Autos</span>
      <span>Consultoria</span>
      <span>Design e Tecnologia</span>
      <span>Eventos</span>
      <span>Moda e Beleza</span>
      <span>Reformas e Reparos</span>
      <span>Saúde</span>
      <span>Serviços Domésticos</span>
      <div class="e302_53"></div>
      <div class="e302_54"></div>
      <div class="e302_55"></div>
      <div class="e302_56"></div>
      <div class="e302_57"></div>
      <div class="e302_58"></div>
      <div class="e302_59"></div>
      <div class="e302_60"></div>
      <div class="e302_61"></div>
      <div class="e302_62"></div>*@
    </div>
  </div>
</div>